@import '../../defines.styl'
@import '../../functions.styl'

:host()
  display block
  overflow-x hidden

.masonry-item
  width: calc(50% - 8px)
  &:nth-child(4n+1)
    .image
      set-aspect-ratio(2, 1)
  &:nth-child(4n+4)
    .image
      set-aspect-ratio(2, 1)

  &.square
    .image
      set-aspect-ratio(1,1)
      border-radius 0
    .inner-image
      top 0
      left 0
      height: 100%
      width: 100%
      border-radius 0

.image
  set-aspect-ratio(1, 1.2)
  background-color: $color-white
  width 100%
  margin-bottom: 16px
  border-radius 6px
  position relative

  .inner-image
    background #aaa
    position absolute
    top 4px
    left 4px
    width: calc(100% - 8px)
    height: calc(100% - 8px)
    border-radius 4px
    image-cover()

