<div class="label">Color</div>
<div class="color-row">
  <div class="color color-1" (click)="selectColor(1)"></div>
  <div class="color color-2" (click)="selectColor(2)"></div>
  <div class="color color-3" (click)="selectColor(3)"></div>
  <div class="color color-4" (click)="selectColor(4)"></div>
  <div class="color color-5" (click)="selectColor(5)"></div>
</div>

<div class="label">Style</div>
<div class="style-row">
  <div class="style" (click)="selectStyle(1)">A</div>
  <div class="style" (click)="selectStyle(2)">B</div>
</div>
