$font-futura = futura-pt-bold,sans-serif
$font-futura-weight = 700
$font-futura-style = normal

$font-amiko ='Amiko', sans-serif
$font-amiko-weight = 700

// Primary colors, those are parallel.
$color-primary-1 = #C14938
$color-primary-2 = #749A9C
$color-primary-3 = #E6D5BB
$color-primary-4 = #646464
$color-primary-5 = #4A556C

$color-white = #ffffff
